<div class="form signup-form">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <%= f.text_field :name, :autofocus => true, :placeholder => "name" %>
    </div>
    <div>
      <%= f.email_field :email, :placeholder => "email" %>
    </div>
    <div>
      <%= f.password_field :password, :placeholder => "password" %>
    </div>
    <div>
      <%= f.password_field :password_confirmation, :placeholder => "password confirmation" %>
    </div>
    <div>
      <%= f.submit "Sign Up", :class => "widebtn signup btn btn-primary" %>
    </div>
  <% end %>

</div>
