<div class="span6 plan-activity-block">
  <h3 class="time-slot-title"><%= time_slot_title(index) %></h3>
  <div class="plan-activity-image">
    <%= image_tag(activity.image_url, :size => '80x80') %>
  </div>
  <div class="plan-activity-details">
    <h3><%= title(activity) %></h3>
    <p class="street-add"><%= street(activity) %></p>
    <p class="city-add"><%= city_state(activity) %></p>
  </div>
  <div class="distance">
    <% dist = distances_between_activities(@best_route) %>
    <% unless @best_route[index+1].nil? %>
      <div class="distance">~<%= dist[index] %> mi <i class="icon-arrow-down"></i></div>
    <% end %>
  </div>
</div>
