<div class="span6 plan-activity-block">
  <h3 class="time-slot-title"><%= time_slot_title(index) %></h3>
  <div class="plan-activity-image">
    <% if (index % 2).zero? %>
      <%= image_tag('hiking.png', :size => "80x80") %>
    <% else %>
      <%= image_tag('knife-fork-plate.png', :size => "80x80") %>
    <% end %>
  </div>
  <div class="plan-activity-details">
    <% if (index % 2).zero? %>
      <h3>Open Time Slot - Do Something Fun!</h3>
      <p class="city-add"><%= @plan.city %></p>
    <% else %>
      <h3>Open Time Slot - Don't Forget to Eat!</h3>
      <p class="city-add"><%= @plan.city %></p>
    <% end %>
  </div>
</div>
