<body class="homepage-berlin">

  <div class="source-image">
    <img id="berlin" class="opaque" src="/assets/berlin.jpg" />
    <img id="singapur" src="/assets/singapur.jpg" /> 
    <img id="san-francisco" src="/assets/sanfrancisco.jpg" />
  </div>

  <div id="left-side"></div>
  <i class="icon-angle-left icon-x" ></i>

  <div id="right-side"></div>
  <i class="icon-angle-right icon-x" ></i>

    <h1 class="home-header">This small snippet completely explains how <br>
         our app works. All possible questions will be answered!</h1>

    <div class="listofplans">
      <div id="berlin-plans">
        <h3>For inspiration check out other peoples plans</h3>
        <ul>
          <li><%= link_to 'Ryans amazing Berlin plan', "http://localhost:3000/plans/100" %></li>
          <li><%= link_to 'Nigels great plan', "http://localhost:3000/plans/100" %></li>
          <li><%= link_to 'Justins awesome plan', "http://localhost:3000/plans/100" %></li>
          <li><%= link_to 'Bastis Berlin boring plan', "http://localhost:3000/plans/100" %></li>
        </ul>  
      </div>

      <div id="singapur-plans">
        <h3>For inspiration check out other peoples plans</h3>
        <ul>
          <li><%= link_to 'Ryans amazing Singapur plan', "http://localhost:3000/plans/100" %></li>
          <li><%= link_to 'Nigels great plan', "http://localhost:3000/plans/100" %></li>
          <li><%= link_to 'Justins awesome plan', "http://localhost:3000/plans/100" %></li>
          <li><%= link_to 'Bastis boring Singapur plan', "http://localhost:3000/plans/100" %></li>
        </ul>  
      </div>

      <div id="san-francisco-plans">
        <h3>For inspiration check out other peoples plans</h3>
        <ul>
          <li><%= link_to 'Ryans amazing San Francisco plan', "http://localhost:3000/plans/100" %></li>
          <li><%= link_to 'Nigels great plan', "http://localhost:3000/plans/100" %></li>
          <li><%= link_to 'Justins awesome plan', "http://localhost:3000/plans/100" %></li>
          <li><%= link_to 'Bastis boring Singapur plan', "http://localhost:3000/plans/100" %></li>
        </ul>  
      </div>
    </div>

</body>
