<h1>Create new plan</h1>

<% if @plan.errors.full_messages %>
<ul>
  <% @plan.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>  

<%= form_for @plan do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :start_date %>:
  <%= f.date_select :start_date %>

  <%= f.label :end_date %>:
  <%= f.date_select :end_date %>

  <br><br>
  Add Activities: 
  <% 6.times do %>
    <div class="activity-form">
      <%= f.fields_for :activities, @plan.activities.build do |activity| %>
        <div>
          <%= activity.text_field :title, placeholder: "Title" %>
          <%= activity.check_box :meal %>
          <%= activity.label "Meal" %>
        </div>

        <div>
          <%= activity.text_field :street, placeholder: "Street" %>
          <%= activity.text_field :city, placeholder: "City" %>
        </div>
        <div>
          <%= activity.text_field :state, placeholder: "State" %>
          <%= activity.text_field :zip_code, placeholder: "Zip Code" %>
        </div>
        <div>
          
        </div>
      <% end %>  
    </div></br>
  <% end %>

  <%= f.submit %>
<% end %>    



