<div class='offset2 plan-title'>
  <div class='title'><h1><%= @plan.title %></h1></div>
  <div class='btn'><a href="#">start near</a></div>
  <div class='btn'><a href="#">end near</a></div>
</div>

<div class="activities">
  <% @plan.best_route.each_with_index do |activity, index| %>
    <div class="span6 offset2 hero-unit">
      <h3><%= title(activity) %></h3>
      <p><%= street(activity) %></p>
      <p><%= meal(index) %></p>
    </div>
  <% end %>
</div>

<%= map(@plan.best_route) %>