<!DOCTYPE html>

<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=true"></script>

  <title>WhatsThePlan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/header' %>
  <%= render "devise/registrations/signup_form" %>
  <%= render "devise/sessions/signin_form" %>
  
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
